*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 1rem;
}
a{
    color: #000;
}

/* Geral */

html{
    overflow-x: hidden;
    font-size: calc(60% + 0.8vmin);
}

body{
    text-justify: inter-cluster;
    text-align: justify;
    justify-content: justify;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

.container{
    max-width: 1400px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Header */

header{
    height: 15vh;
    background-color:#fae4e4;
    font-weight: bold;
    padding: 1.5rem 0;
}
header .container{
    display: flex;
    align-items: center;
}
header .container .nav{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fefefe;
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.1);
}
header .container .nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
header .container .nav > ul > li{
    height: 100%;
}
header .container .nav > ul > li:first-child{
    flex: 1;
    background-color:#efaaaa;
    border-radius: 15px 0 0 15px;
}
header .container .nav > ul > li:last-child{
    flex: 2;
    background: linear-gradient(90deg, #efaaaa,#b88384, #efaaaa);
    background-size: 200% 200%;
    background-position: 0 50%;
    border-radius: 0 15px 15px 0;
    transition: 1s ease-out;
}
header .container .nav > ul > li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}
header .container .nav > ul > li a p{
    display: none;
    color: #fefefe;
}
header .container .nav > ul > li a img{

}
header .container .nav ul ul{
    flex: 15;
    height: 100%;
    gap: 0 15px;
    justify-content: space-evenly;
}
header .container .nav ul ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 #efaaaa;
    transition: 0.1s ease-out;
}
header .container .nav ul ul li a{
    font-family: "Didact Gothic";
    color: #c58e8e;
}

/* Hover Contribua */

header .container .nav ul > li:last-child:hover{
    background-position: 100% 50%;
}
header .container .nav ul > li:last-child:hover a img{
    display: none;
}
header .container .nav ul > li:last-child:hover a p{
    display: block;
}

/* Hover Links */

header .container .nav ul ul li:hover a{
    color: #efaaaa;
}
header .container .nav ul ul li:hover{
    border-top: 3px solid #efaaaa;   
}

/* Introducao */

main{

}
main .introducao{
    height: 85vh;
    background-color: #fae4e4;
}
main .introducao .container{
    
}
main .introducao .container .topo{
    height: 75vh;
    display: flex;
}
main .introducao .container .topo .esquerda{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    padding: 4rem 0; 
}
main .introducao .container .topo .esquerda img{
    width: 90%;
}
main .introducao .container .topo .esquerda p{
    font-family: "Bentham";
    color: #cd9a9a;
    line-height: 2rem;
    font-size: calc(60% + 2vmin);
}
main .introducao .topo .esquerda p span{
    color: #f0a8a6;
    font-size: 100%;
}
main .introducao .container .topo .direita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
main .introducao .container .topo .direita img{
    width: 100%;
    height: auto;
}
main .introducao .container .baixo{
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0 15px;
}
main .introducao .container .baixo li{
    height: 50%;
}
main .introducao .container .baixo li img{
    height: 100%;
    width: auto;
}

/* Quem-Somos */

main .quem-somos{
    height: 80vh;
    background-color: #fefefe;
}
main .quem-somos .container{
    display: flex;
    gap: 10%;
}
main .quem-somos .esquerda{
    flex: 1;
}
main .quem-somos .esquerda a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;       
}
main .quem-somos .esquerda a img{
    max-width: 120%;
    max-height: 120%;
}
main .quem-somos .direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    padding: 4rem 0;
    gap: 3rem;
}
main .quem-somos .direita h1{
    font-family:"Dancing Script";
    font-weight: 150;
    color: #efaaaa;
    font-size: calc(100% + 5vmin);
}
main .quem-somos .direita p{
    font-family:"Bentham";
    text-justify: inter-cluster;
    justify-content: justify;
    text-align: justify;
    font-size: calc(60% + 2vmin);
}
main .quem-somos .direita a{
    width: 35%;
    height: auto;
}
main .quem-somos .direita a img{
}

/* Frase */

main .frase{
    height: 50vh;
    background: linear-gradient(165deg, #efaaaa,#b88384);
    background-size: 200% 200%;
    background-position: 0 50%;
}
main .frase .container{
    position: relative;
    width: 100%;
    height: 100%;
}
main .frase .container .texto{
    position: absolute;
    width: 90%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
main .frase .container .galho{
    position: absolute;
    height: 125%;
    width: auto;
    top: -125px;
    right: 0;
}

/* Processo */

main .processo{
    height: 90vh;
    background-image: url(resources/images/background_processo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main .processo .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    gap: 4rem;
}
main .processo .container h1{
    font-family: "Dancing Script";
    font-weight: 150;
    color: #efaaaa;
    font-size: calc(60% + 5vmin);
}
main .processo .container .img_mobile{
    display: none;
}
main .processo .container .img_full{
    display: block;
}

/* Cards */

main .cards{
    background: linear-gradient(165deg, #efaaaa,#b88384);
}
main .cards .container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main .cards .container h1{
    font-family:"Dancing Script";
    color: #fefefe;
    font-size: calc(60% + 5vmin);
    font-weight: 150;
    margin: 2rem 0;
}
main .cards .container ul{
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
}
main .cards .container ul li{
    height: 17.5rem;
    width: 17.5rem;
}

/* Footer */

footer{
    background: linear-gradient(90deg, #4e4e4e,#202020);
    height: 45vh;
    font-family: "Didact Gothic";
}
footer .container{
    display: flex;
    gap: 2rem;
}
footer .container .esquerda{
    background-image: url(resources/images/footer_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 3rem 0;
    gap: 1.5rem;
}
footer .container .esquerda img{
    width: 80%;
}
footer .container .esquerda p{
    color: #fefefe;
    font-size: calc(40% + 1vmin);
}
footer .container .esquerda ul{
    display: flex;
    gap: 0.5rem;
}
footer .container .meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1.5rem;
}
footer .container .meio h1{
    font-size: calc(60% + 1vmin);
    font-weight: 150;
    color: #c58e8e;
}
footer .container .meio h2{
    font-size: calc(60% + 1vmin);
    font-family: "Dancing Script";
    font-weight: 150;
    color: #fefefe;
}
footer .container .meio p{
    font-size: calc(25% + 1vmin);
    color: #fefefe;
}
footer .container .direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    flex: 1;

}
footer .container .direita ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
footer .container .direita ul li{
    text-align: right;
}
footer .container .direita ul li a{
    color: #fefefe;
}
footer .container .direita ul li a::after{
    content:" •";
}

/* Media */

@media (max-width: 984px){
    
    header .container .nav > ul > li:first-child{
        flex: 4;
    }
    header .container .nav > ul > li:last-child{
        flex: 4;
    }
    header .container .nav ul ul li{
        height: auto;
        display: inline;
    }

    main .introducao .container .topo{
        flex-direction: column;
    }
    main .introducao .container .topo .direita{
        display: none;
    }
    main .introducao .container .topo .esquerda{
        justify-content: center;
        gap: 5rem;
        padding: 0;
    }

    main .quem-somos .esquerda {
        display: none;
    }
    main .quem-somos .direita h1 {
        font-family: "Dancing Script";
        color: #efaaaa;
        font-size: calc(60% + 10vmin);
    }

    main .frase .container .texto{
        position: absolute;
        width: 90%;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    main .frase .container .galho{
        position: absolute;
        height: 90%;
        width: auto;
        top: -50px;
        right: 0;
    }

    main .processo .container .img_mobile{
        display: block;
    }
    main .processo .container .img_full{
        display: none;
    }

    main .cards .container ul li{
        height: 12.5rem;
        width: 12.5rem;
    }

    footer .container .esquerda{
        padding: 0;
    }
}